.scores {
  width: -webkit-fill-available;
  height: -webkit-fill-available;

  padding: 50px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(101.56deg, #2C2C2C 1.56%, #1C1C1C 95.55%);

  color: #ffffff;

  @media screen and (max-width: 600px) {
    padding: 8.33vw;
  }
}

.scores__title {
  margin: 0 0 10px;
  font-size: 48px;

  @media screen and (max-width: 600px) {
    margin: 0 0 1.67vw;
    font-size: 8vw;
  }
}

.scores__btnContainer {
  width: 100%;
  margin: 0 0 10px;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-items: center;

  @media screen and (max-width: 600px) {
    margin: 0 0 1.67vw;
  }

  button {
    height: 30px;
    width: 70px;
    font-size: 20px;

    @media screen and (max-width: 600px) {
      height: 5vw;
      width: 11.67vw;
      font-size: 3.33vw;
    }
  }
}

.scores__table {
  width: 100%;
  height: 390px;

  overflow: auto;

  @media screen and (max-width: 600px) {
    height: 65vw;
  }
  
  &::-webkit-scrollbar{
    width: 0;
  }
}

.scores__tableHeader {
  width: 99%;

  position: sticky;
  top: 0;

  background: linear-gradient(130.68deg, #414141 0%, #2D2D2D 100.52%);
  box-shadow: 0px 0px 7px 0px #00c4f0;

  font-size: 24px;
  font-weight: 600;

  @media screen and (max-width: 600px) {
    box-shadow: 0px 0px 1.17vw 0px #00c4f0;
    font-size: 4vw;
  }
  
  p {
    margin: 10px 0;

    @media screen and (max-width: 600px) {
      margin: 1.67vw 0;
    }
  }
}

.scores__tableHeader,
.scores__score {
  display: grid;
  grid-template-columns: 20% 20% 25% 35%;

  text-align: center;
}

.scores__score {
  font-size: 20px;

  @media screen and (max-width: 600px) {
    font-size: 3.33vw;
  }
}

.scores__btnClose {
  height: 55px;
  width: 60%;

  margin-top: 20px;

  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 24px;

  @media screen and (max-width: 600px) {
    height: 9.17vw;
    margin-top: 3.33vw;
    border-radius: 1.67vw;
    font-size: 4vw;
  }
}