.game {
  height: 600px;
  width: 600px;

  margin-top: 20px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;

  background-color: rgb(86, 86, 86);
  border: 2px solid black;

  z-index: 0;
}

.game__chip {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;

  font-size: 48px;
  font-weight: 700;
  font-family: roboto;
  user-select: none;

  &-clear {
    background: none;
  }

  &-animated {
    position: absolute;
    transition: all 0.5s;
  }
}