.game {
  height: 600px;
  width: 600px;

  margin-top: 20px;
  z-index: 0;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;

  background: linear-gradient(101.56deg, #2C2C2C 1.56%, #1C1C1C 95.55%);

  @media screen and (max-width: 600px) {
    height: 100vw;
    width: 100vw;
    margin-top: 3.33vw;
    gap: 0.83vw;
  }
}

.game__chip {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;

  font-size: 48px;
  font-weight: 700;
  font-family: roboto;
  user-select: none;
  -webkit-text-stroke: 2px #000000;
  color: transparent;

  @media screen and (max-width: 600px) {
    font-size: 8vw;
    -webkit-text-stroke: 0.33vw #000000;
  }

  &.chip-type {
    &1 {
      background: url(../../../assets/images/type1.jpg);
      background-size: cover;
    }

    &2 {
      background: url(../../../assets/images/type2.jpg);
      background-size: cover;
    }

    &none {
      background: #ffffff;
    }
  }

  &-clear {
    background: none;
  }

  &-animated {
    position: absolute;
    transition: all 0.5s;
  }
}