.header {
  margin: 20px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  gap: 10px;

  z-index: 0;
}

.header__autoSolve {
  font-size: 20px;
  box-shadow: none;
  &:disabled {
    background: #8f8f8f;
    color: #ffffff;
    cursor: default;

    &::after {
      display:none;
    }

    &::before {
      display:none;
    }
  }
}

.header__time {
  text-align: center;
  color: #ffffff;
}

.header__steps {
  text-align: center;
  color: #ffffff;
}

.header__pause {
  font-size: 20px;
}