.finish {
  width: -webkit-fill-available;
  height: -webkit-fill-available;

  padding: 50px;

  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: rgba(0, 0, 0, 0.8);

  z-index: 2;
}

.finish__congratulation {
  font-size: 48px;
  font-weight: 600;
  text-align: center;
}

.finish__btnsContainer {
  width: 100%;
  height: 10%;

  display: flex;
  justify-content: space-between;

  button {
    height: 100%;
    width: 45%;

    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 18px;

    cursor: pointer;
  }
}

.finish__newGame {

}

.finish__close {
  
}