.rules {
  width: -webkit-fill-available;
  height: -webkit-fill-available;

  padding: 50px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;

  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(101.56deg, #2C2C2C 1.56%, #1C1C1C 95.55%);

  color: #ffffff;

  @media screen and (max-width: 600px) {
    padding: 8.33vw;
  }
}

.rules__title {
  margin: 0 0 10px;

  font-size: 48px;
  font-weight: 600;

  @media screen and (max-width: 600px) {
    margin: 0 0 1.67vw;
    font-size: 8vw;
  }
}

.rules__descriptionBox {
  font-size: 24px;

  @media screen and (max-width: 600px) {
    font-size: 4vw;
  }
}

.rules__descriptionPs {
  color: #00C4F0;
}

.rules__close {
  height: 55px;
  width: 60%;

  margin-top: 20px;

  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 24px;

  @media screen and (max-width: 600px) {
    height: 9.17vw;
    margin-top: 3.33vw;
    border-radius: 1.67vw;
    font-size: 4vw;
  }
}